html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/stars.jpg");
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Vujahday Script', cursive;
  font-size: 24px;
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: white;
}

header  {
  margin-bottom: auto;
  background-color: rgba(58, 55, 0, .6);
  width: 100%;
  text-align: center;
  height: 60px;
}

h1  {
  margin: 0;
}

.paraDispl  {
  margin: 0;
}

#mainContr  {
  display: flex;
  flex: 1;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid white;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

#playerBox  {
  display:flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
  height: fit-content;
  width: 100%;
  margin-top: 10px;
}

#userDispl, 
#compDispl,
#mainDispl  {
  background-color: rgba(164, 42, 235,0.22);
  border: solid rgb(255, 255, 255);
  padding: 5px;
  border-radius: 8px;
}

#userDispl, 
#compDispl  {
  display: flex;
  /* flex: 1; */
  align-items: center;
  width: 234px;
  min-height: 90px;
  padding: 10px;
}

#userDispl  {
  margin-left: 10px;
}

#compDispl  {
  margin-right: 10px;
}

#totalGames  {
  display:flex;
  flex-shrink: 1;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  height: fit-content;
  width: 95%;
}

#userTotal,
#compTotal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainDispl  {
  display: flex;
  flex: 1;
  width: 90%;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10px; */
  margin-top: 0;
}

#usrBtn {
  margin: 0;
  margin-top: 0;
}

#btnRock,
#btnPaper,
#btnScissors {
  background-size: cover;
  height: 130px;
  width: 80px;
  margin: 10px 10px;
  border-radius: 8px;
}

.hoverBtn:hover {
  box-shadow: 2px 4px 16px #f4f4f4;
  transform: scale(1.3);
}

#btnRock {
  background-image: url("./images/rock.png");
}

#btnPaper {
  background-image: url("./images/paper.png");
}

#btnScissors {
  background-image: url("./images/scissors.png");
}

footer  {
  margin-top: auto;
  color: white;
  background-color: rgba(58, 55, 44, 0.6);
  width: 100%;
  text-align: center;
}
